input.sheet-background_switch_1:checked ~ div.sheet-background { background: white }
input.sheet-background_switch_2:checked ~ div.sheet-background { background-image: linear-gradient(#7e8c36, #4b5320); color: white }
input.sheet-background_switch_3:checked ~ div.sheet-background { background-image: linear-gradient(#bd7fbf, #b84c6f); color: black }
input.sheet-background_switch_4:checked ~ div.sheet-background { background-image: linear-gradient(#ff9100, #e69500) }
input.sheet-background_switch_5:checked ~ div.sheet-background { background: white }

/*
METHODS OF MY MADNESS
Keep select parameters on separate lines to better track what is being selected
Enter in CSS properties as following Format: {
text-align: center;
text-decoration: underline
}
no ending semicolons needed, properly space out properties line-by-line.  Alphabetized each properties list for easier reading.
2. Keep order in HTML elements' attributes by the way they're listed.  name type value class
*/

.charsheet .sheet-row {
	height: 24px;
	margin: 2px 0px 2px
}
.charsheet .sheet-item {
	display: inline-block;
	height: 28px;
	margin: 0 -2px;
	padding: 3px 2px;
	text-align: left;
	vertical-align: middle;
	width: 100%
}
.charsheet .sheet-item.sheet-5 { width: 5px }
.charsheet .sheet-item.sheet-70 { width: 70px }
.charsheet .sheet-item.sheet-920 { width: 90px }

/* ______________________________ start of CSS selectors, patterns used to select element(s) for styling ______________________________ */

@import url('https://fonts.googleapis.com/css?family=Saira+Semi+Condensed&display=swap');

/* All input elements that are of type number or type text */
select,
input[type='number'],
input[type='text'],
button[type='action'] {
	background: #394C6A;
	color: white;
	font-family: Saira Semi Condensed;
	text-align: center
}

/* All horizontal rule elements receive the following CSS property. */
hr { border-top: 1px dotted black }

/* All button elements of type roll */
button[type='roll'] {
	background: black;
	color: white;
	font-family: Saira Semi Condensed
}

/* All button elements of type roll when hovered over: */
button[type='roll']:hover { background-color: red }

/* Both header elements 2 and 3 receive the following CSS properties. */
h2, h3 {
	font-family: Saira Semi Condensed;
	text-align: center;
	text-decoration: underline
}

/* Only type-3 headers receive the following CSS properties. */
h3 {
	background: #394C6A;
	color: white
}

/* All instances of the placeholder attribute across all elements */
::placeholder {
	color: white;
	opacity: 0.6
}

/* All textarea elements (keep width for textarea to prevent stretching off of sheet) */
textarea {
	background: #394C6A;
	color: white;
	font-family: Saira Semi Condensed;
	resize: vertical;
	width: calc(100% - 10px)
}

/* ______________________________ end of CSS selectors ______________________________
______________________________ start of multipurpose or special-use classes such as grey border box on Core and Settings tabs ______________________________ */

.sheet-hidden { display: none }
.sheet-hider:not(:checked) + div { display: none }
.sheet-hider:not(:checked) + input { display: none }
.sheet-hidernot:checked + div { display: none }
.sheet-hidernot:checked + input { display: none }

.sheet-box {
	background: #353535;
	border-style: solid;
	border-width: 1px
}

.sheet-edge_padding { padding: 2px }
/* half width of containing block */
.sheet-half_width { width: 50% }
/* full width of containing block */
.sheet-full_width { width: 100% }

.sheet-white_text { color: white }
.sheet-huge_text { font-size: 36px }
.sheet-bold_text { font-weight: bold }
.sheet-centered { margin: auto }

/* ______________________________ end of special-use classes ______________________________
______________________________ start of grid structure for character information ______________________________ */


.sheet-gs1 { grid-area: ah1;		margin-top: 2px;  font-size: 18px;  padding-left: 5px }
.sheet-gs2 { grid-area: ah2;		margin-top: 2px;  font-size: 18px;  padding-left: 5px }
.sheet-gs3 { grid-area: ah3;		margin-top: 2px;  font-size: 18px;  padding-left: 5px }
.sheet-gs4 { grid-area: ah4;		margin-top: 2px;  font-size: 18px;  padding-left: 5px }
.sheet-gs5 { grid-area: ah5;		margin-top: 2px;  font-size: 18px;  padding-left: 5px }
.sheet-gs6 { grid-area: ah6;		margin-top: 2px;  font-size: 18px;  padding-left: 5px }
.sheet-gs7 { grid-area: ah7;	  width: calc(100%); }
.sheet-gs8 { grid-area: ah8;	  width: calc(100% + 65px); margin-left: -65px ; height: 100%}
.sheet-gs9 { grid-area: ah9;	  width: calc(100% + 30px); margin-left: -30px ;}
.sheet-gs10 { grid-area: ah10;  width: calc(100% + 78px); margin-left: -78px ;}
.sheet-gs11 { grid-area: ah11;  width: calc(100% + 37px); margin-left: -37px ;}
.sheet-gs12 { grid-area: ah12;  width: calc(100% + 20px); margin-left: -20px ;}
.sheet-gs13 { grid-area: ah13; 	}
.sheet-gs14 { grid-area: ah14;  width: calc(100% + 25px);}
.sheet-gs15 { grid-area: ah15;  width: calc(100% + 65px);}
.sheet-gs16 { grid-area: ah16;  width: calc(100% + 85px);}
.sheet-gs17 { grid-area: ah17;  width: calc(100% + 35px);}
.sheet-gs18 { grid-area: ah18;  width: calc(100% + 23px);}
.sheet-gs19 { grid-area: ah19;  width: calc(100% + 55px);}
.sheet-gs20 { grid-area: ah20;  margin-top: 2px;  font-size: 18px;  padding-right: 5px; text-align: right }
.sheet-gs21 { grid-area: ah21;  margin-top: 2px;  font-size: 18px;  padding-right: 5px; text-align: right }
.sheet-gs22 { grid-area: ah22;  margin-top: 2px;  font-size: 18px;  padding-right: 5px; text-align: right }
.sheet-gs23 { grid-area: ah23;  margin-top: 2px;  font-size: 18px;  padding-right: 5px; text-align: right }
.sheet-gs24 { grid-area: ah24;  margin-top: 2px;  font-size: 18px;  padding-right: 5px; text-align: right }
.sheet-gs25 { grid-area: ah25;  margin-top: 2px;  font-size: 18px;  padding-right: 5px; text-align: right }

.sheet-header_logo {
	display: grid;
	font-family: Serif;
	grid-template-areas:
	'ah1 ah7 ah13 ah14 ah20'
	'ah2 ah8 ah13 ah15 ah21'
	'ah3 ah9 ah13 ah16 ah22'
	'ah4 ah10 ah13 ah17 ah23'
	'ah5 ah11 ah13 ah18 ah24'
	'ah6 ah12 ah13 ah19 ah25';
	grid-template-columns: 140px auto 123px auto 135px;
	grid-template-rows: 30px 30px 30px 30px 30px 30px
}

/* ______________________________ end of grid structure for character information ______________________________
______________________________ start of structure for characteristics ______________________________ */

.sheet-characteristics_background {
	background: black;
	display: grid;
	grid-template-columns: 10% 10% 10% 10% 10% 10% 10% 10% 10% 10%
}

.sheet-characteristics {
	margin-left: -9.5%;
	text-align: center;
	width: 120%
}

/* Select those buttons of class characteristics and type roll, those buttons of class characteristics and type text */
select,
.sheet-characteristics button[type='roll'],
.sheet-characteristics input[type='text'] { width: 75% }

.sheet-characteristics input[type='text'] {
	font-size: 30px;
	height: 40px
}

/* ______________________________ end of structure for characteristics ______________________________
______________________________ start of grid structure for the mythic characteristics, movement and pushing ______________________________ */

.sheet-characteristics_mythic_movement_carry {
	display: grid;
	grid-template-columns: 10% 80% 10%
}

.sheet-mythicgs_width { width: 40px }
.sheet-mythicgs_heading {
	font-family: Serif;
	font-size: 15px
}

.sheet-mythicgs1 { grid-area: amy1; }
.sheet-mythicgs2 { grid-area: amy2; margin-left:3px;}
.sheet-mythicgs3 { grid-area: amy3; margin-left:3px;}
.sheet-mythicgs4 { grid-area: amy4; margin-left:3px;}
.sheet-mythicgs5 { grid-area: amy5; margin-left:12px; font-size: 13px; font-family: Serif }
.sheet-mythicgs6 { grid-area: amy6; margin-left:9px; 	font-size: 13px; font-family: Serif }
.sheet-mythicgs7 { grid-area: amy7; margin-left:12px; font-size: 13px; font-family: Serif;}
.sheet-characteristics2_mythic {
	display: grid;
	justify-content: left;
	grid-template-areas:
	'amy1 amy1 amy1'
	'amy2 amy3 amy4'
	'amy5 amy6 amy7';
	grid-template-columns: 50px 50px 50px
}

.sheet-movementgs1 { grid-area: amm1; }
.sheet-movementgs2 { grid-area: amm2; 	margin-left:6px;}
.sheet-movementgs3 { grid-area: amm3; 	margin-left:6px;}
.sheet-movementgs4 { grid-area: amm4; 	margin-left:6px;}
.sheet-movementgs5 { grid-area: amm5; 	margin-left:6px;}
.sheet-movementgs6 { grid-area: amm6; 	margin-left:6px;}
.sheet-movementgs7 { grid-area: amm7; 	margin-left:6px;}
.sheet-movementgs8 { grid-area: amm8; 	margin-left:6px;}
.sheet-movementgs9 { grid-area: amm9;   margin-left:3px; font-size: 13px; font-family: Serif }
.sheet-movementgs10 { grid-area: amm10; margin-left:5px; font-size: 13px; font-family: Serif }
.sheet-movementgs11 { grid-area: amm11; margin-left:5px; font-size: 13px; font-family: Serif }
.sheet-movementgs12 { grid-area: amm12; margin-left:5px; font-size: 13px; font-family: Serif }
.sheet-movementgs13 { grid-area: amm13; margin-left:4px; font-size: 13px; font-family: Serif }
.sheet-movementgs14 { grid-area: amm14; margin-left:4px; font-size: 13px; font-family: Serif }
.sheet-movementgs15 { grid-area: amm15; margin-left:4px; font-size: 13px; font-family: Serif }
.sheet-characteristics2_movement {
	display: grid;
	justify-content: center;
	text-align: center;
	grid-template-areas:
	'amm1 amm1 amm1  amm1  amm1  amm1 amm1'
	'amm2 amm3 amm4  amm5  amm6  amm7 amm8'
	'amm9 amm10 amm11 amm12 amm13 amm14 amm15';
	grid-template-columns: 50px 50px 50px 50px 50px 50px 50px
}

.sheet-carrygs1 { grid-area: ac1; margin-left:10px;}
.sheet-carrygs2 { grid-area: ac2; margin-left:10px; width: 80%; }
.sheet-carrygs3 { grid-area: ac3; margin-left:10px; width: 80%;}
.sheet-carrygs4 { grid-area: ac4; margin-left:10px; width: 80%;}
.sheet-carrygs5 { grid-area: ac5; margin-left:10px; font-size: 13px; font-family: Serif; }
.sheet-carrygs6 { grid-area: ac6; margin-left:11px; font-size: 13px; font-family: Serif; }
.sheet-carrygs7 { grid-area: ac7; margin-left:12px; font-size: 13px; font-family: Serif; }
.sheet-characteristics2_carry {
	margin-right: 5px;
	display: grid;
	justify-content: right;
	text-align: center;
	grid-template-areas:
	'ac1 ac1 ac1'
	'ac2 ac3 ac4'
	'ac5 ac6 ac7';
	grid-template-columns: 55px 55px 55px
}

/* ______________________________ end of grid structure for the mythic characteristics, movement and pushing ______________________________
______________________________ start of grid structure for initiative and sheet tabs ______________________________ */

.sheet-tabs_main {
	display: grid;
	grid-template-columns: 50% 50%
}

select,
.sheet-sheet_tabs,
.sheet-initiative-container { display: grid }

.sheet-initiative-container {

	grid-template-columns: 100px 90px 18px 50px 18px 90px
}

.sheet-init_field {width:85px; height: 100%; margin-right:-60px}

.sheet-init_plus1 {
	font-size: 24px;
	font-weight: bold;
	padding-top: 12px;
}


.sheet-sheet_tabs {
	margin-right: 3px;
	grid-template-columns: 45px 75px 60px 95px 60px 60px 45px;
	justify-content: right
}

/* ______________________________ end of grid structure for initiative and sheet tabs ______________________________
______________________________ start of tab buttons toggles ______________________________ */

.sheet-core,
.sheet-medical,
.sheet-equipment,
.sheet-advancements,
.sheet-journal,
.sheet-vehicles,
.sheet-settings { display: none }
/* show the selected tab */

.sheet-tabstoggle[value='core'] ~ div.sheet-core,
.sheet-tabstoggle[value='equipment'] ~ div.sheet-equipment,
.sheet-tabstoggle[value='medical'] ~ div.sheet-medical,
.sheet-tabstoggle[value='advancements'] ~ div.sheet-advancements,
.sheet-tabstoggle[value='journal'] ~ div.sheet-journal,
.sheet-tabstoggle[value='vehicles'] ~ div.sheet-vehicles,
.sheet-tabstoggle[value='settings'] ~ div.sheet-settings { display: block }
.sheet-core_bttn:checked + button {
	background: rgb(200, 0, 0);
	color: white;
	vertical-align: center
}

/* ______________________________ end of tab buttons toggles ______________________________
______________________________ start of minimisable infographic ______________________________ */

.sheet-minimisable_infographic_main {
	display: grid;
	grid-template-columns: 18px auto
}

.sheet-minimisable_infographic_expand,
.sheet-minimisable_switch:checked ~ .sheet-minimisable_infographic_collapse { color: black; display: block; font-weight: bold }

.sheet-minimisable_infographic_collapse,
.sheet-minimisable_switch:checked ~ .sheet-minimisable_infographic_expand { display: none }

/* ______________________________ end of minimisable infographic ______________________________
______________________________ start of core tab ______________________________ */

.sheet-core_lists1 { grid-area: cl1; margin-right: 10px }
.sheet-core_lists2 { grid-area: cl2 }
.sheet-core_lists3 { grid-area: cl3 }
.sheet-core_lists {
	display: grid;
	height: auto;
	grid-template-areas:
	'cl1 cl2'
	'cl1 cl3';
	grid-template-columns: 450px auto
}
.sheet-skills_table {
	background: #506b95;
	color: white;
	font-family: Saira Semi Condensed;
	font-size: 18px;
	display: flex;
	flex-direction: column;
}

.sheet-skills_row {
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	height: 30px;
	align-items: center;
	border-bottom: 1px dotted grey;
}
.sheet-skills_item {
	margin: 10px 5px
}
.sheet-skill_name_heading_width { width: 106px;}
.sheet-skill_diff_heading_width { width: 70px;}
.sheet-skill_stat_heading_width { width: 67px;}
.sheet-skill_num_heading_width { 	width: 40px;}
.sheet-skill_t_heading_width { 		width: 6px;}
.sheet-skill_10_heading_width { 	width: 18px;}
.sheet-skill_20_heading_width { 	width: 26px;}
.sheet-skill_roll_heading_width { width: 0px;}

.sheet-skill_name_width { width: 150px }
.sheet-skill_stat_width { width: 100px }

.sheet-skill_num_width { width: 30px; margin-left: -30px; margin-right: 10px }
.sheet-skill_right-hand { text-align: right; width: 50% }
.sheet-custom_skill { width: 200px; margin-right: 45px }

.sheet-education { width: 75%; margin-right: 10px }
.sheet-education_margin { margin: 0px 5px }
.sheet-education_marginL { margin-right: 5px }



.sheet-collapsible_ability_description_window_a,
.sheet-collapsible_ability_block_switch:checked ~ .sheet-collapsible_ability_description_window_b { display: block }
.sheet-collapsible_ability_description_window_b,
.sheet-collapsible_ability_block_switch:checked ~ .sheet-collapsible_ability_description_window_a { display: none }

/* ______________________________ end of core tab ______________________________
______________________________ start of medical tab ______________________________ */

.sheet-medicalG {
	background: #475f85;
	border-left: 5px solid #475f85;
	color: white;
	font-family: Saira Semi Condensed
}

.sheet-medicalg1 { grid-area: m1 }
.sheet-medicalg2 { grid-area: m2 }
.sheet-medicalg3 { grid-area: m3 }
.sheet-medicalg4 { grid-area: m4 }
.sheet-medicalg5 { grid-area: m5 }
.sheet-medicalg6 { grid-area: m6 }
.sheet-medicalg7 { grid-area: m7 }
.sheet-medicalg8 { grid-area: m8 }
.sheet-medicalg9 { grid-area: m9 }
.sheet-medicalg10 { grid-area: m10 }
.sheet-medicalg11 { grid-area: m11 }
.sheet-medicalg12 { grid-area: m12 }
.sheet-medicalg13 { grid-area: m13 }
.sheet-medicalg14 { grid-area: m14 }
.sheet-medicalg15 { grid-area: m15 }
.sheet-medicalg17 { grid-area: m17 }
.sheet-medicalg16 { grid-area: m16 }
.sheet-medicalgT { grid-area: mT }
.sheet-medicalgR { grid-area: mR }
.sheet-medical-grid {
	height: 50px;
	display: grid;
	grid-template-columns: 25% 25% 25% 25%;
	grid-template-rows: 120px 120px 120px 120px 120px 150px auto;
	grid-template-areas:
	'm1  m2  m3  mT'
	'm4  m5  m6  mT'
	'm7  m8  m9  mT'
	'm10 m8  m11 mT'
	'm12 m13 m14 mT'
	'm15 m16 m17 mT'
	'mR  mR  mR  mT';
}

.sheet-medical_h2 {
	background: #394C6A;
	color: white
}

.sheet-medical_table {
	background: #475f85;
	border-bottom: 1px dotted grey;
	border-left: 3px solid #394C6A;
	color: white;
	font-family: Saira Semi Condensed;
	text-align: center;
	text-indent: 5px
}

/* ______________________________ end of medical tab __________________________________________________________
______________________________ start of vehicles tab ___________________________________________________________ */

.sheet-vehicles_grid1 { grid-area: vg1; background:#506b95; border-left: 2px solid #506b95; border-right: 2px solid #506b95; color:white; font-family: Saira Semi Condensed }
.sheet-vehicles_grid2 { grid-area: vg2; background:#506b95; border-left: 2px solid #506b95; border-right: 2px solid #506b95; color:white; font-family: Saira Semi Condensed }
.sheet-vehicles_grid3 { grid-area: vg3; background:#506b95; border-left: 2px solid #506b95; border-right: 2px solid #506b95; color:white; font-family: Saira Semi Condensed }
.sheet-vehicle_weapons { grid-area: vgw }
.sheet-vehicles_divider {
	display: grid;
	grid-template-areas:
	'vg1 vgw'
	'vg2 vgw'
	'vg3 vgw';
	grid-template-columns: 50% 50%
}
.sheet-vehicles_Gn  { grid-area: vn; background: #394C6A; color: white; font-family: Saira Semi Condensed; text-align: center }
.sheet-vehicles_Gs  { grid-area: vs; height: 28.5px; margin-bottom: -8px; margin-top: -1px }
.sheet-vehicles_Gt  { grid-area: vt; height: 28.5px; margin-bottom: -8px; margin-top: -1px }
.sheet-vehicles_G1  { grid-area: v1 }
.sheet-vehicles_G2  { grid-area: v2; text-align: center}
.sheet-vehicles_G3  { grid-area: v3; text-align: center}
.sheet-vehicles_G4  { grid-area: v4; text-align: center}
.sheet-vehicles_G5  { grid-area: v5; text-align: center}
.sheet-vehicles_G6  { grid-area: v6 }
.sheet-vehicles_G7  { grid-area: v7 }
.sheet-vehicles_G8  { grid-area: v8 }
.sheet-vehicles_G9  { grid-area: v9 }
.sheet-vehicles_G10 { grid-area: v10 }
.sheet-vehicles_G11 { grid-area: v11; text-align: center}
.sheet-vehicles_G12 { grid-area: v12; text-align: center}
.sheet-vehicles_G13 { grid-area: v13; text-align: center}
.sheet-vehicles_G14 { grid-area: v14; text-align: center}
.sheet-vehicles_G15 { grid-area: v15 }
.sheet-vehicles_G16 { grid-area: v16 }
.sheet-vehicles_G17 { grid-area: v17 }
.sheet-vehicles_G18 { grid-area: v18 }
.sheet-vehicles_G19 { grid-area: v19; text-align: center}
.sheet-vehicles_G20 { grid-area: v20; text-align: center}
.sheet-vehicles_G21 { grid-area: v21; text-align: center}
.sheet-vehicles_G22 { grid-area: v22; text-align: center}
.sheet-vehicles_G23 { grid-area: v23 }
.sheet-vehicles_G24 { grid-area: v24 }
.sheet-vehicles_G25 { grid-area: v25 }
.sheet-vehicles_G26 { grid-area: v26 }
.sheet-vehicles_G27 { grid-area: v27; text-align: center}
.sheet-vehicles_G28 { grid-area: v28; text-align: center}
.sheet-vehicles_G29 { grid-area: v29 }
.sheet-vehicles_G30 { grid-area: v30 }
.sheet-vehicles_G31 { grid-area: v31 }
.sheet-vehicles_G32 { grid-area: v32 }
.sheet-vehicles_G33 { grid-area: v33 }
.sheet-vehicles_G34 { grid-area: v34; text-align: center}
.sheet-vehicles_G35 { grid-area: v35; text-align: center}
.sheet-vehicles_G36 { grid-area: v36 }
.sheet-vehicles_G37 { grid-area: v37 }
.sheet-vehicles_G38 { grid-area: v38 }
.sheet-vehicles_G39 { grid-area: v39; text-align: center}
.sheet-vehicles_G40 { grid-area: v40 }
.sheet-vehicles_grid1 {
	display: grid;
	grid-template-areas:
	'vn  vn  vn  vn'
	'vs  v1  v1  vt'
	'v2  v3  v4  v5'
	'v6  v7  v8  v9'
	'v10 v10 v10 v10'
	'v11 v12 v13 v14'
	'v15 v16 v17 v18'
	'v19 v20 v21 v22'
	'v23 v24 v25 v26'
	'v27 v28 v28 v28'
	'v29 v30 v30 v30'
	'v31 v32 v32 v32'
	'v33 v33 v33 v33'
	'v34 v34 v35 v35'
	'v36 v36 v37 v37'
	'v38 v38 v38 v38'
	'v39 v39 v39 v39'
	'v40 v40 v40 v40';
	grid-template-columns: 25% 25% 25% 25%
}
.sheet-vehicles_G41 { grid-area: v41 }
.sheet-vehicles_G42 { grid-area: v42; text-align: center}
.sheet-vehicles_G43 { grid-area: v43; text-align: center}
.sheet-vehicles_G44 { grid-area: v44; text-align: center}
.sheet-vehicles_G45 { grid-area: v45; text-align: center}
.sheet-vehicles_G46 { grid-area: v46; text-align: center}
.sheet-vehicles_G47 { grid-area: v47 }
.sheet-vehicles_G48 { grid-area: v48 }
.sheet-vehicles_G49 { grid-area: v49 }
.sheet-vehicles_G50 { grid-area: v50 }
.sheet-vehicles_G51 { grid-area: v51 }
.sheet-vehicles_G52 { grid-area: v52; text-align: center}
.sheet-vehicles_G53 { grid-area: v53; text-align: center}
.sheet-vehicles_G54 { grid-area: v54; text-align: center}
.sheet-vehicles_G55 { grid-area: v55; text-align: center}
.sheet-vehicles_G56 { grid-area: v56; text-align: center}
.sheet-vehicles_G57 { grid-area: v57; text-align: center}
.sheet-vehicles_G58 { grid-area: v58 }
.sheet-vehicles_G59 { grid-area: v59 }
.sheet-vehicles_G60 { grid-area: v60 }
.sheet-vehicles_G61 { grid-area: v61 }
.sheet-vehicles_G62 { grid-area: v62 }
.sheet-vehicles_grid2 {
	display: grid;
	grid-template-areas:
	'v41 v41 v41 v41 v41'
	'v42 v43 v44 v45 v46'
	'v47 v48 v49 v50 v51'
	'v52 v52 v52 v52 v52'
	'v53 v54 v55 v56 v57'
	'v58 v59 v60 v61 v62';
	grid-template-columns: 20% 20% 20% 20% 20%
}
.sheet-vehicles_G63 { grid-area: v63 }
.sheet-vehicles_G64 { grid-area: v64; text-align: center}
.sheet-vehicles_G65 { grid-area: v65; text-align: center}
.sheet-vehicles_G66 { grid-area: v66 }
.sheet-vehicles_G67 { grid-area: v67 }
.sheet-vehicles_G68 { grid-area: v68; text-align: center}
.sheet-vehicles_G69 { grid-area: v69; text-align: center}
.sheet-vehicles_G70 { grid-area: v70; text-align: center}
.sheet-vehicles_G71 { grid-area: v71; text-align: center}
.sheet-vehicles_G72 { grid-area: v72 }
.sheet-vehicles_G73 { grid-area: v73 }
.sheet-vehicles_G74 { grid-area: v74 }
.sheet-vehicles_G75 { grid-area: v75 }
.sheet-vehicles_G76 { grid-area: v76 }
.sheet-vehicles_grid3 {
	display: grid;
	grid-template-areas:
	'v63 v63 v63 v63'
	'v64 v64 v65 v65'
	'v66 v66 v67 v67'
	'v68 v69 v70 v71'
	'v72 v73 v74 v75'
	'v76 v76 v76 v76';
	grid-template-columns: 25% 25% 25% 25%
}
