.sheet-chr_tabl_row:after {
  content: "";
  display: table;
  clear: both;
}
.sheet-col1 {
  float: left;
  width: 15%;
}
.sheet-col2 {
  float: left;
  width: 30%;
}
.sheet-col3 {
  text-align: center;
  float: left;
  width: 10%;
}
.sheet-col4 {
  text-align: right;
  float: left;
  width: 30%;
}
.sheet-col5 {
  text-align: right;
  float: left;
  width: 15%;
}




.sheet-characteristics_row{
  content: "";
  display: table;
  clear: both;
}

.sheet-characteristics_section{
  float: left;
  width: 10%;
}
