/* start of grid structure for character information ______________________________ */

.sheet-gs1 { grid-area: ah1; font-size: 14px; }
.sheet-gs2 { grid-area: ah2; font-size: 14px; }
.sheet-gs3 { grid-area: ah3; font-size: 14px; }
.sheet-gs4 { grid-area: ah4; }
.sheet-gs5 { grid-area: ah5; }
.sheet-gs6 { grid-area: ah6; }
.sheet-gs7 { grid-area: ah7; }
.sheet-gs8 { grid-area: ah8; }
.sheet-gs9 { grid-area: ah9; }
.sheet-gs10 { grid-area: ah10; }
.sheet-gs11 { grid-area: ah11; font-size: 14px; text-align: right }
.sheet-gs12 { grid-area: ah12; font-size: 14px; text-align: right }
.sheet-gs13 { grid-area: ah13; font-size: 14px; text-align: right }

.sheet-header_logo {
  display: grid;
  grid-template-areas:
  'ah1 ah4 ah7 ah8 ah11'
  'ah2 ah5 ah7 ah9 ah12'
  'ah3 ah6 ah7 ah10 ah13';
  grid-template-columns: 15% 30% 10% 30% 15%;
}

/* end of grid structure for character information ______________________________
______________________________ start of grid structure for characteristics */

.sheet-characteristics {
  display: grid;
  grid-template-columns: 10% 10% 10% 10% 10% 10% 10% 10% 10% 10%;
}
.sheet-characteristics_box {
  overflow: hidden;
  margin: 2px;
}

/* end of grid structure for characteristics ______________________________
______________________________ start of grid structure for the mythic characteristics, movement and pushing */

.sheet-characteristics_mythic_movement_carry {
  display: grid;
  grid-template-columns: 20% 60% 20%;
}

.sheet-mythicgs1 { grid-area: amy1; }
.sheet-mythicgs2 { grid-area: amy2; }
.sheet-mythicgs3 { grid-area: amy3; }
.sheet-mythicgs4 { grid-area: amy4; }
.sheet-mythicgs5 { grid-area: amy5; font-size: 10px; }
.sheet-mythicgs6 { grid-area: amy6; font-size: 10px; }
.sheet-mythicgs7 { grid-area: amy7; font-size: 10px; }
.sheet-characteristics2_mythic {
  display: grid;
  grid-template-columns: 60px 60px 60px;
  grid-template-areas:
  'amy1 amy1 amy1'
  'amy2 amy3 amy4'
  'amy5 amy6 amy7';
  text-align: center
}

.sheet-movementgs1 { grid-area: amm1; }
.sheet-movementgs2 { grid-area: amm2; }
.sheet-movementgs3 { grid-area: amm3; }
.sheet-movementgs4 { grid-area: amm4; }
.sheet-movementgs5 { grid-area: amm5; }
.sheet-movementgs6 { grid-area: amm6; }
.sheet-movementgs7 { grid-area: amm7; }
.sheet-movementgs8 { grid-area: amm8; }
.sheet-movementgs9 { grid-area: amm9;   font-size: 10px; }
.sheet-movementgs10 { grid-area: amm10; font-size: 10px; }
.sheet-movementgs11 { grid-area: amm11; font-size: 10px; }
.sheet-movementgs12 { grid-area: amm12; font-size: 10px; }
.sheet-movementgs13 { grid-area: amm13; font-size: 10px; }
.sheet-movementgs14 { grid-area: amm14; font-size: 10px; }
.sheet-movementgs15 { grid-area: amm15; font-size: 10px; }
.sheet-characteristics2_movement {
  justify-content: center;
  display: grid;
  grid-template-columns: 50px 50px 50px 50px 50px 50px 50px;
  grid-template-areas:
  'amm1 amm1 amm1  amm1  amm1  amm1 amm1'
  'amm2 amm3 amm4  amm5  amm6  amm7 amm8'
  'amm9 amm10 amm11 amm12 amm13 amm14 amm15';
  text-align: center
}

.sheet-carrygs1 { grid-area: ac1; }
.sheet-carrygs2 { grid-area: ac2; }
.sheet-carrygs3 { grid-area: ac3; }
.sheet-carrygs4 { grid-area: ac4; }
.sheet-carrygs5 { grid-area: ac5; font-size: 10px; }
.sheet-carrygs6 { grid-area: ac6; font-size: 10px; }
.sheet-carrygs7 { grid-area: ac7; font-size: 10px; }
.sheet-characteristics2_carry {
  display: grid;
  grid-template-columns: 60px 60px 60px;
  grid-template-areas:
  'ac1 ac1 ac1'
  'ac2 ac3 ac4'
  'ac5 ac6 ac7';
  text-align: center
}

/* end of grid structure for the mythic characteristics, movement and pushing ______________________________
______________________________ start of grid structure for initiative/sheet tabs */

.sheet-initiative_tabs_main {
  display: grid;
  grid-template-columns: 50% 50%;
  height:auto;
}

.sheet-initiative_tabs_initiative {
  display: grid;
  justify-content: left;
  grid-template-columns: 95px 76px 12px 40px 12px 80px;
  height:25px;
}

.sheet-initiative_tabs_tabs {
  display: grid;
  justify-content: right;
  grid-template-columns: 60px 80px 70px 100px 60px 60px 60px;
  height:25px;
}

.sheet-initiative_tabs_boxes{
  overflow: hidden;
}
/* end of grid structure for grid structure for initiative/sheet tabs _______________________
_______________________start of tab buttons toggles*/
.sheet-core,
.sheet-medical,
.sheet-equipment,
.sheet-advancements,
.sheet-journal,
.sheet-vehicles,
.sheet-settings{
  display: none;
}

/* show the selected tab */
.sheet-tabstoggle[value="core"] ~ div.sheet-core,
.sheet-tabstoggle[value="equipment"] ~ div.sheet-equipment,
.sheet-tabstoggle[value="medical"] ~ div.sheet-medical,
.sheet-tabstoggle[value="advancements"] ~ div.sheet-advancements,
.sheet-tabstoggle[value="journal"] ~ div.sheet-journal,
.sheet-tabstoggle[value="vehicles"] ~ div.sheet-vehicles,
.sheet-tabstoggle[value="settings"] ~ div.sheet-settings{
  display: block;
}
/*end of tab buttons toggles __________________________________________________________________
_______________________start of minimisable infographic*/

.sheet-minimisable_infographic_main {
  display: grid;
  grid-template-columns: 10px auto;
}

.sheet-minimisable_infographic_a,
.sheet-minimisable_switch:checked ~ .sheet-minimisable_infographic_b {
  display: block;
}

.sheet-minimisable_infographic_b,
.sheet-minimisable_switch:checked ~ .sheet-minimisable_infographic_a {
  display: none;
}
