/* grid structure for the character info table__________________________________*/
.sheet-hgs1 { grid-area: ah1; }
.sheet-hgs2 { grid-area: ah2; }
.sheet-hgs3 { grid-area: ah3; }
.sheet-hgs4 { grid-area: ah4; }
.sheet-hgs5 { grid-area: ah5; }
.sheet-hgs6 { grid-area: ah6; }
.sheet-hgs7 { grid-area: ah7; }
.sheet-hgs8 { grid-area: ah8; }
.sheet-hgs9 { grid-area: ah9; }
.sheet-hgs10 { grid-area: ah10; }
.sheet-hgs11 { grid-area: ah11; }
.sheet-hgs12 { grid-area: ah12; }
.sheet-hgs13 { grid-area: ah13; }
.sheet-header_logo {
  display: grid;
  grid-template-areas:
  'ah1 ah4 ah7 ah8  ah11'
  'ah2 ah5 ah7 ah9  ah12'
  'ah3 ah6 ah7 ah10 ah13';
}


/* grid structure for the characteristics_______________________________________*/
.sheet-characteristics_row{
  display: grid;
  grid-template-columns: 10% 10% 10% 10% 10% 10% 10% 10% 10% 10%;
}

.sheet-characteristics_section{
}



/* grid structure for the mythic characteristics, movement and pushing__________*/
.sheet-characteristics_mythic{
    display: grid;
grid-template-columns: 10% 10% 10%
}

.sheet-mythicgs1 { grid-area: amy1; }
.sheet-mythicgs2 { grid-area: amy2; }
.sheet-mythicgs3 { grid-area: amy3; }
.sheet-mythicgs4 { grid-area: amy4; }
.sheet-mythicgs5 { grid-area: amy5; }
.sheet-mythicgs6 { grid-area: amy6; }
.sheet-mythicgs7 { grid-area: amy7; }
.sheet-characteristics2_mythic{
  display: grid;
  grid-template-areas:
  'amy1 amy1 amy1'
  'amy2 amy3 amy4'
  'amy5 amy6 amy7';
}

.sheet-movementgs1 { grid-area: amm1; }
.sheet-movementgs2 { grid-area: amm2; }
.sheet-movementgs3 { grid-area: amm3; }
.sheet-movementgs4 { grid-area: amm4; }
.sheet-movementgs5 { grid-area: amm5; }
.sheet-movementgs6 { grid-area: amm6; }
.sheet-movementgs7 { grid-area: amm7; }
.sheet-movementgs8 { grid-area: amm8; }
.sheet-movementgs9 { grid-area: amm9; }
.sheet-movementgs10 { grid-area: amm10; }
.sheet-movementgs11 { grid-area: amm11; }
.sheet-movementgs12 { grid-area: amm12; }
.sheet-movementgs13 { grid-area: amm13; }
.sheet-movementgs14 { grid-area: amm14; }
.sheet-movementgs15 { grid-area: amm15; }
.sheet-characteristics2_movement{
  display: grid;
  grid-template-areas:
  'amm1 amm1 amm1  amm1  amm1  amm1 amm1'
  'amm2 amm3 amm4  amm5  amm6  amm7 amm8'
  'amm9 amm10 amm11 amm12 amm13 amm14 amm15';
}

.sheet-carrygs1 { grid-area: ac1; }
.sheet-carrygs2 { grid-area: ac2; }
.sheet-carrygs3 { grid-area: ac3; }
.sheet-carrygs4 { grid-area: ac4; }
.sheet-carrygs5 { grid-area: ac5; }
.sheet-carrygs6 { grid-area: ac6; }
.sheet-carrygs7 { grid-area: ac7; }
.sheet-characteristics2_carry{
  display: grid;
  grid-template-areas:
  'ac1 ac1 ac1'
  'ac2 ac3 ac4'
  'ac5 ac6 ac7';
}
